.contentHeader {
  text-align: center;
  font-size: 50px;
  margin-top: 5rem;
  font-family: "Grandstander", cursive;
  color: #302e35;
}

.serviceRowStyle {
  margin-top: 4rem;
  padding-left: 15rem;
  padding-right: 5rem;
  margin-bottom: 4rem;
}
.serviceCard {
  width: 250px;
  height: 320px;
  margin-bottom: 2rem;
}

.serviceHeaderImage {
  margin-left: 48rem;
  margin-top: 3rem;
}
.serviceBtn {
  background-color: #a5aa9c;
  border: none;
  padding: 8px;
  color: white;
  width: 15vh;
  border-radius: 8px;
  margin-top: 1.3rem;
}
.pricetext {
  font-size: 13px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  /* font-weight: bold; */
  font-family: "Grandstander", cursive;
}
.serviceDesc {
  font-weight: 400;
  color: black;
  font-family: "Grandstander", cursive;
}
.serviceTitle {
  font-size: 15px;
  margin-bottom: -1rem;
  font-weight: 600;
  font-family: "Grandstander", cursive;
  white-space: nowrap;
}
.cartIcon {
  width: 25px;
  height: 25px;
  margin-top: 0.5rem;
  margin-left: 8rem;
  color: #aecfa4;
}
@media only screen and (max-width: 765px) {
  .contentHeader {
    font-size: 30px;
    margin-top: 2rem;
  }
  .serviceTitle {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .serviceRowStyle {
    margin-top: 1rem;
    padding-left: 2.4rem;
    /* padding-right: 2rem; */
  }

  .serviceHeaderImage {
    margin-left: 1rem;
    margin-top: 3rem;
  }

  .cartIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 88px;
    top: -38px;
  }

  .serviceBtn {
    padding: 8px;

    width: 20vh;
    margin-top: 1.3rem;
  }

  .serviceCard {
    width: 80vw;
    height: 350px;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
