.reviewHeader {
  color: #302e35;
  text-align: center;
  margin-top: 5rem;
  font-size: 50px;
  font-family: "Grandstander", cursive;
}
.reviewRowStyle {
  margin-top: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 4rem;
}

.reviewHeaderImage {
  margin-left: 55rem;

  margin-top: 3rem;
}
.icon {
  color: gold;
  margin-top: 0.2rem;
  margin-left: 0.6rem;
}
.reviewCard {
  background-color: #f9faf8;
  border-radius: 30px;
  padding: 20px;
  width: 350px;
  height: auto;
  margin-left: 3rem;
}
.reviewPara {
  margin-top: 1.5rem;
  font-size: 18px;
  line-height: 27px;
  font-family: "Grandstander", cursive;
  color: #1f1c3f;
}
@media only screen and (max-width: 765px) {
  .reviewCard {
    height: auto;
    width: 90vw;
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .reviewHeader {
    font-size: 30px;
    margin-top: 3rem;
    /* margin-left: 0.5rem; */
    margin-bottom: 3rem;
  }
  .reviewRowStyle {
    margin-top: 1rem;
    padding-left: 1rem;

    margin-bottom: 1rem;
  }
  .reviewHeaderImage {
    margin-left: 4rem;
    margin-top: 3rem;
  }

  .reviewPara {
    margin-top: 1rem;
    font-size: 15px;
    line-height: 22.5px;
  }
}
