.newsHeader {
  color: #302e35;
  text-align: center;
  margin-top: 6rem;
  font-size: 50px;
  margin-bottom: 4rem;
  font-family: "Grandstander", cursive;
}
.rowNewsStyle {
  margin-top: 1rem;
  padding-left: 28rem;
  padding-right: 5rem;
}
.newsPara {
  font-family: "Grandstander", cursive;
  font-weight: 600;
  color: #1f1c3f;
}

.newsPara1 {
  font-family: "Grandstander", cursive;
  white-space: no-wrap;
  color: #1f1c3f;
}
.reviewCard {
  width: 300px;
  height: auto;
}

@media only screen and (max-width: 765px) {
  .newsHeader {
    font-size: 28px;
  }

  .rowNewsStyle {
    margin-top: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 5rem;
    margin-bottom: 1rem;
  }
  .reviewCard {
    width: 280px;
    height: 350px;
    margin-bottom: 2rem;
  }
}
