.categoryHeader {
  color: #302e35;
  text-align: center;
  margin-top: 5rem;
  font-size: 50px;
  margin-bottom: 4rem;
  font-family: "Grandstander", cursive;
}
.categoryRowStyle {
  margin-top: -5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: 4rem;
}
.headerImages {
  cursor: pointer;
}

.catImage {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  object-fit: cover;
}
.catPara {
  font-family: "Grandstander", cursive;
  font-weight: 600;
  color: #1f1c3f;
}
.catcard {
  margin-left: 4rem;
  cursor: pointer;
}

.cardimage {
  width: 100%;
  height: 30vh;
}

@media only screen and (max-width: 765px) {
  .categoryHeader {
    font-size: 30px;
    margin-top: 2rem;
    /* margin-left: -5rem; */
    margin-bottom: 3rem;
  }
  .categoryRowStyle {
    margin-top: 3rem;
    padding-left: 2rem;

    margin-bottom: 1rem;
  }
  .catImage {
    display: none;
  }

  .cardimage {
    height: 35vh;
  }

  .catcard {
    margin-left: 0.5rem;
    width: 80vw;
    margin-bottom: 2rem;
  }
}
