@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Hind+Siliguri:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Hind+Siliguri:wght@500&family=Sail&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Lato", sans-serif; */
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.new-content {
  height: auto;
}
@media only screen and (max-width: 765px) {
  body {
    overflow-x: hidden;
  }
}
