@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@0,400;1,500&family=Raleway&family=Roboto&family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.new-content {
  height: auto;
}
@media only screen and (max-width: 765px) {
  body {
    overflow-x: hidden;
  }
}
