.inviteDiv {
  background-image: url("../.././assets/5.png");
  background-repeat: no-repeat;
  padding: 12px;
  border: 5px solid #a5aa9c;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  /* margin-right: 4rem; */
  transition: transform 0.7s ease-in-out;
}

.inviteDiv:hover {
  transform: scale(1.1);
}
.inviteDiv1 {
  background-image: url("../.././assets/img-3.jpg");

  padding: 12px;
  border: 5px solid #a5aa9c;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  /* margin-right: 3rem; */
  transition: transform 0.7s ease-in-out;
}
.inviteDiv1:hover {
  transform: scale(1.1);
}
.inviteDiv2 {
  background-image: url("../.././assets/9.jpg");

  padding: 12px;
  border: 5px solid #a5aa9c;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  /* margin-right: 4rem; */
  transition: transform 0.7s ease-in-out;
}
.inviteDiv2:hover {
  transform: scale(1.1);
}
.rowComingStyles {
  margin-top: 4rem;
  padding-left: 25rem;
  padding-right: 15rem;
}
.comingHeader {
  color: black;
  text-align: center;
  margin-top: 5rem;
  font-size: 50px;
  font-family: "Grandstander", cursive;
}
.btnEvents {
  margin-top: 2rem;
  margin-left: 3rem;
  width: 250px;
  padding: 10px;
  border: none;
  background-color: #a5aa9c;
  color: white;
  font-size: 20px;
  font-family: "Grandstander", cursive;
}
.eventsPara {
  font-size: 20px;
  margin-left: 3rem;
  margin-top: 1rem;
  line-height: 30px;
  font-family: "Grandstander", cursive;
}

@media only screen and (max-width: 765px) {
  .comingHeader {
    font-size: 25px;
    margin-top: 2rem;
    margin-left: -4rem;
    margin-bottom: 3rem;
  }
  .rowComingStyles {
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 10rem;
    margin-bottom: 1rem;
  }
}
